{#{% load static %}#}
{#{% load numberInput dropDown headline %}#}
{##}
{##}
{#<div class="main">#}
{#    <div class="main-header">#}
{#        <div class="header-labelIcon">#}
{#                    <span>#}
{#                        <svg xmlns="http://www.w3.org/2000/svg" width="129.148" height="48" viewBox="0 0 129.148 48">#}
{#                            <use xlink:href="{% static 'res/svg/timeline-icons.svg' %}#pvt-label"></use>#}
{#                        </svg>#}
{#                    </span>#}
{#        </div>#}
{#        <div class="header-timeline">#}
{#            <div class="header-timeline-item active">#}
{#                        <span class="timeline-item-icon">#}
{#                            <svg xmlns="http://www.w3.org/2000/svg" width="20.325" height="20.325" viewBox="0 0 20.325 20.325">#}
{#                            <use xlink:href="{% static 'res/svg/timeline-icons.svg' %}#data-input"></use>#}
{#                            </svg>#}
{#                        </span>#}
{#                <span class="timeline-item-label">Data Input</span>#}
{#            </div>#}
{#            <div onclick="chartsToggle(this)" class="header-timeline-item">#}
{#                        <span class="timeline-item-icon">#}
{#                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">#}
{#                            <use xlink:href="{% static 'res/svg/timeline-icons.svg' %}#charts"></use>#}
{#                            </svg>#}
{#                        </span>#}
{#                <span class="timeline-item-label">Charts</span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="main-grid">#}
{##}
{#        <div class="card card--input card__maximized">#}
{##}
{#            <div class="toggles">#}
{#                <button class="maximize" onclick="maximizeToggle()">#}
{#                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="23" viewBox="0 0 52 46">#}
{#                        <use xlink:href="{% static 'res/svg/btn-icons.svg' %}#maximize-toggle"></use>#}
{#                    </svg>#}
{#                </button>#}
{#                <button class="save">save</button>#}
{##}
{#            </div>#}
{##}
{#            <div class="card-header">Data Input</div>#}
{##}
{#            <div class="card-content">#}
{#                <form id="pvt_form" action="{% url 'main:simulation.run.separator' simulation.url %}" method="post">#}
{##}
{#                    {% csrf_token %}#}
{##}
{#                    <div class="input-row">#}
{#                        <div class="input-field__inline">#}
{#                            <label for="size_1"><span class="input-label" title="First Size">First Size</span>#}
{#                                <select id="size_1" name="size_1" type="number">#}
{#                                    {% for separator_size in separator_sizes %}#}
{#                                        {% if separator_size.id == simulation.seperator.size_1.id %}#}
{#                                            <option selected value="{{ separator_size.id }}"> {{ separator_size.display_name }} </option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ separator_size.id }}"> {{ separator_size.display_name }} </option>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </label>#}
{#                        </div>#}
{##}
{#                        <div class="input-field__inline">#}
{#                            <label for="size_2"><span class="input-label" title="Second Size">Second Size</span>#}
{#                                <select id="size_2" name="size_2" type="number">#}
{#                                    {% for separator_size in separator_sizes %}#}
{#                                        {% if separator_size.id == simulation.seperator.size_2.id %}#}
{#                                            <option selected value="{{ separator_size.id }}"> {{ separator_size.display_name }} </option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ separator_size.id }}"> {{ separator_size.display_name }} </option>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </label>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{##}
{#                    <div class="input-row">#}
{#                        <div class="input-field__inline">#}
{#                            <label for="size_3"><span class="input-label" title="Third Size">Third Size</span>#}
{#                                <select id="size_3" name="size_3" type="number">#}
{#                                    {% for separator_size in separator_sizes %}#}
{#                                        {% if separator_size.id == simulation.seperator.size_3.id %}#}
{#                                            <option selected value="{{ separator_size.id }}"> {{ separator_size.display_name }} </option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ separator_size.id }}"> {{ separator_size.display_name }} </option>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </label>#}
{#                        </div>#}
{#                        <div class="input-field__inline test" id="length">#}
{#                            {% numberInput 'Length' 'length' 'm' 0 1000 required='required' value=simulation.seperator.length %}#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="input-row">#}
{#                        <div class="input-field__inline test" id="inputpressuredrop">#}
{#                            {% numberInput 'Input Pressure Drop' 'input_pressure_drop' 'Psi' 0 1000 required='required' value=simulation.seperator.input_pressure_drop %}#}
{#                        </div>#}
{#                        <div class="input-field__inline test" id="inputefficiency">#}
{#                            {% numberInput 'Input Efficiency' 'input_efficiency' '%' 0 100 required='required' value=simulation.seperator.input_efficiency %}#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="btn-row">#}
{#                        <a href="{% url 'main:simulation.run.well' simulation.url %}" class="input-btn input-btn-secondary">Previous</a>#}
{#                        <input class="input-btn input-btn-primary" type="submit" value="Next">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="sub-grid hidden">#}
{##}
{##}
{#            <div class="card card--second">#}
{#                <canvas id="myChart" width="400" height="400"></canvas>#}
{#            </div>#}
{##}
{#            <div class="card"></div>#}
{##}
{#        </div>#}
{##}
{##}
{#    </div>#}
{##}
{#</div>#}