<!DOCTYPE html>
<html lang="en-us" >
    <head>
        <title>Signin</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    <body class="login" data-admin-utc-offset="16200">
        <!-- Container -->
        <div id="container">        
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name"><a href="{% url 'user:dashboard' %}">Signin</a></h1>
                </div>                
            </div>
            <!-- END Header -->
            
            <!-- Content -->
            <div id="content" class="colM">            
                <div id="content-main">
                    <form action="{% url 'user:signin' %}" method="post" id="login-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <label class="required" for="id_username">Username:</label>
                            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                        </div>
                        <div class="form-row">                            
                            <label class="required" for="id_password">Password:</label>
                            <input type="password" name="password" autocomplete="current-password" required id="id_password">
                            <!-- <input type="hidden" name="next" value="/"> -->
                        </div>                
                        <div class="submit-row">
                            <input type="submit" value="Log in">
                        </div>
                    </form>
                </div>                
                <br class="clear">
            </div>
            <!-- END Content -->

            <div id="footer">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}                
            </div>
        </div>
        <!-- END Container -->

    </body>
</html>
